<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Is Done</th>
      <th scope="col">Deadline</th>
      <th scope="col">Edit Task</th>
      <th scope="col">Delete Task</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mainTask of mainTasks">
      <th>{{mainTask.title}}</th>
      <th>{{mainTask.isDone}}</th>
      <th>{{mainTask.deadline}}</th>
      <th><button (click)="editTask(mainTask.id)" type="button" class="btn btn-outline-info">Edit</button></th>
      <th><button (click)="deleteTask(mainTask.id)" type="button" class="btn btn-outline-danger">Delete</button></th>
    </tr>
  </tbody>
</table>
